header{
    background-color: #ffffff;
    color: black;
    font-size: 80px;
    text-align: center;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

body{
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
p{
    font-size: 35px;
    text-align: center;
    background-color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 45px;
    padding-bottom: 45px;
}

li{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.horizontal-list-footer{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}




#li-welcome-right{
    color: #ffffff;
    text-decoration: none;
    font-size: 37px;
}

.horizontal-list-footer li{
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.horizontal-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.horizontal-list a:hover{
    background-color:  #343434;
    padding-top: 30px;
    padding-bottom: 30px;
}

#li-footer{
    font-size: 27px;
    color:aliceblue;
    text-decoration: none;
}

.horizontal-list li{
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.intro-buttom{
    color: #ffffff;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
#li-welcome{
    color:#ffffff;
    font-size: 37px;
    text-decoration: none;
}

#li-menu{
    color: #ffffff;
    font-size: 37px;
    text-decoration: none;
}

#li-name{
    color: #ffffff;
    font-size: 37px;
    text-decoration: none;
}

#li-contact{
    color: #ffffff;
    font-size: 37px;
    text-decoration: none;
}

.banner-welcome{
    color:#ffffff;
    font-size: 37px;
}
.learn-more{
    display: block;
}

.menu{
    display: block;
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.menu-bar{
    background-color: black;
}

.learn-more{
    background-color: black;
    color:#ffffff;
    margin-top:35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.learn-more:hover{
    background-color: #343434;
}

.address, .phone, .email, .social{
    font-size: 25px;
    color:black;
    text-align: left;
    margin: 25px;
    padding: 0;
    text-decoration: none;
}


.menu-gallery{
    display: flex;
    justify-content: center;
}
.menu-gallery img{
    width: 100%;
    max-width: 550px;
    height: 500px;
    object-fit: cover;
    border-end-end-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

figcaption{
    text-align: center;
    font-size: 30px;
    margin: auto;

}

#broths, #meat, #vegetables, #sauce, #drink{
    display: block;
    text-align: center;
}

.price{
    text-align: right;
}

.item-broths, .item-meat, .item-vegetables, .item-sauce, .item-drink{
    text-align: left;
    width: 25%;
}
.item p{
    display: inline-block;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-logo{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu-logo.meat, .menu-logo.vegetables, .menu-logo.sauce, .menu-logo.drink{
    display: block;
    width: 150px;
    height: 150px;
}

.search-bar {
    display: block;
    padding: 6px;
    border: black;
    margin-right: auto;
    margin-left: auto;
}

.topnav {
    overflow: hidden;
    background-color: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    background-color: #ddd;
    color: gray;
  }

  .topnav input[type=text] {
    float: none; 
    display: inline-block; 
    text-align: center;
    padding: 6px;
    border: solid;
    margin-left: center;
    margin-right: center; 
    font-size: 30px;
  }

  .search-button{
    display: block;
    font-size: 30px;
    
  }


.menu-details{
    background-color: white;
    color: black;
    border: none;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.broth-description{
    color: red;
    font-size: 20px;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

textarea{
    font-size: 25px;
    background-color: white;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

::placeholder{
    font-size: 25px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
}

textarea{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #000000;
    min-height: 2em;
}

textarea{
    background-color: none;
    border: 1px solid none;
    color: black;
  }


input[type="submit"]{
    display: block;
    background-color: black;
    color: white;
    margin-top:35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }

input[type="submit"]:hover{
    background-color: #343434;
}


.menu-details:hover{
    background-color: rgb(176, 176, 176);
    color: #000000;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.25 rem;
    margin-right: 10px;
}

#search{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    height: 50px;
    width: 800px;
    color: black;
    border-radius: 50px;
}

label{

    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


input[type="search"]{
    font-size: 25px;
}


.search-box{
    width: 600px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

ul{
    list-style-type: none;
}

.fontawesome-icon{
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-bottom: 15px;
    margin-bottom: 2px;
    margin-top: auto;
    cursor: pointer;
}

.result-box ul{
    border-top: 1px solid white;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff ;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg{
    width: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.icon-cart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    display: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    top: 50%;
    right: -30px;
    left: -50px;
}

.title{
    display: block;
    font-size: 30px;
    text-align: center;
}

.cartTab{
    width: 400px;
    background-color: #343434;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 90px;
    transition: .5s;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 45px;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
}

.add-to-cart{
    font-size: 25px;
    background-color: #E8BC0E;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.cartTab .btn .close{
    background-color: #eee;
    font-size: 25px;
}

.cartTab .listCart .item img{
    display: grid;
}
 
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

